@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body{
    font-size: 12px;
}
hr{
    margin: 0 0 5px 0;
    border-top: 1px solid #BEBEBE;
}
.container-sv{
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgb(0 0 0 / 25%);
    border-radius: 10px;
    background: #fff;
    width: 100%;
}

ul.result-list{
    overflow: auto;
    height: 544px;
    list-style: none;
    padding: 0;
}

ul.result-list > li{
    margin: 6px 0;
    padding: 10px;
    /* border: 1px solid #BEBEBE; */
    font-size: 14px;
    color: rgb(54 54 54 / 90%);

}
ul.result-list > li.add{
    background-color: #F3F3F3;
}
ul.result-list > li.add:hover{
    background-color: #E3E3E3;
}

ul.result-list > li.edit{
    background-color: #D9EDFF;
}
ul.result-list > li.edit:hover{
    background-color: #ABD6FD;
}

ul.result-list:first-child{
    margin-top:0;
}

ul.result-list:last-child{
    margin-bottom:0;
}

/* ul.result-list > li span{
    display: block;
    font-size: 12px;
    color: rgb(149 149 149);
} */


  
  /* The Close Button */
  .close {
    color: #aaa;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    left: 95%;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  h4{
      font-size: 20px;
      display: inline;
  }
  .text-muted{
      font-size:10px;
  }
  
  .suggestion-links{
      list-style: none;
  }
  #btn_add,#btn_update{
      margin-top: 10px;
      font-size: 12px!important;
      padding: 8px 12px!important;
      border-radius: 4px!important;
  }
  .form-control,.form-select { font-size: 14px;}
  h5{
      font-size: 1.05rem;
  }
.blue-logo-bar{
    border: 2px solid #007DED;
    position: relative;
    top: 12px;
    right: 4px;
}
.top-right-head{
    /* position: absolute;
    top: 20px;
    right: 10px; */
    position: relative;
    top: 2px;
    left: 40px;
    font-size: 12px;
    color: #686868;
}

.search-section{
    border-top: 1px solid #BEBEBE;
    border-bottom: 1px solid #BEBEBE;
    padding: 15px 10px;
}

.search-section > input[type=text]{
    border: 1px solid #BEBEBE;
    color:#3A3A3A;
    font-size: 14px;
    outline: none;
    padding: 8px 12px
}

.msg{
    background-color: #FFEAEA;
    padding: 10px;
    color: rgb(54 54 54 / 90%);
    font-size: 14px;
    margin: 15px 0;
}

.result-list > li > .icon{
    float: right;
}

.line{
    padding-top:10px;
    border-top: 1px solid #BEBEBE;
}

#entry_content,#edit_content{
    padding-bottom: 10px;
}